*{
    box-sizing: border-box;
}
  
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color:khaki;
    border: 1px solid black;
}

.main{
    display: flex;
    align-items: center;
}

.leftControls{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 500px;
}

.size{
    padding: 10px;
    height: 150px;
    border: 1px solid red;
    border-radius: 25%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
}
.sizeText{
    flex: 1;
}
.slider{
    flex: 1;
}

.rightControls{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 500px;
}

.rightControls div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border: 1px solid red;
    border-radius: 25%;
    background-color: yellow;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.rightControls div:active{
    transform: scale(0.9);
}

button{
    height: 40px;
    width: 100px;
    border-radius: 50px;
    transition: transform 0.3s ease-out;
}

button:active{
    transform: scale(0.9);
}

.canvas {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    width: 500px;
    height: 500px;
}

.colored{
    background-color: black;
}

footer{
    display: flex;
    height: 50px;
    background-color: cornflowerblue;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.size{
    display: flex;
    justify-content: center;
    align-items: center;
}